main {
    max-width: 75rem;
    margin: 0 auto;
    padding: 40px 0px;
}

.titulo {
    text-align: center;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    border-radius: 4px;
    margin-bottom: 60px;
}

.imagem-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #46d682;
    border-radius: 4px 0px 0px 4px;
}

.imagem-container img {
    width: 31rem;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
    border-radius: 4px;
}

.input-itens {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-itens input {
    margin: 0.6 rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    width: 300px;
}

.input-itens input:hover {
    background-color: #eeeeee75;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao button {
    padding: 12px 24px;
    background-color: #5cc085;
    border-radius: 4px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.botao button:hover {
    background-color: #46d682;
    transition: 400ms;
}

.subtitulo-lista {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}

.lista-espacamento {
    padding-bottom: 40px;
}

.tablebtn {
    text-decoration: none;
    color: #5cc085;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.tablebtn.removebtn {
    color: rgb(168, 32, 32);
}